li {
    color: blueviolet;
    font-size: large;
}

body {
    background-image: url(https://i.pinimg.com/originals/1a/a6/7f/1aa67fa918bd686df9ad47798d1b4076.jpg);

}

.center {
    text-align: center;
}